---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaRegFolder, FaRegUserCircle, FaRegClock } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const {
  summary_length,
  blog_folder,
}: { summary_length: number; blog_folder: string } = config.settings;

const { data } = Astro.props;
const { title, image, date, author, categories } = data.data;
---

<article class="card grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-6 p-6">
  <!-- Image Column -->
  {
    image && (
      <a
        class="relative h-48 md:h-56 overflow-hidden rounded-lg"
        href={`/${blog_folder}/${data.id}`}
      >
        <ImageMod
          class="w-full h-full object-cover"
          src={image}
          alt={title}
          width={445}
          height={230}
          format="webp"
        />
      </a>
    )
  }

  <!-- Content Column -->
  <div class="flex flex-col justify-between">
    <div>
      <header class="mb-2">
        <h3 class="text-xl font-bold hover:text-gray-500 transition-colors">
          <a href={`/${blog_folder}/${data.id}`} class="inline-block">
            {title}
          </a>
        </h3>
      </header>

      <div class="flex flex-wrap gap-4 text-sm mb-4">
        <!-- Time -->
        {
          date && (
            <div class="flex items-center text-muted">
              <FaRegClock className="mr-2 flex-shrink-0" />
              <time class="flex flex-wrap gap-2">{dateFormat(date)}</time>
            </div>
          )
        }
        <!-- Author -->
        <div class="flex items-center text-muted">
          <FaRegUserCircle className="mr-2 flex-shrink-0" />
          <a href={`/authors/${slugify(author)}`} class="hover:text-gray-500">
            {humanize(author)}
          </a>
        </div>

        <!-- Categories -->
        {
          categories?.length > 0 && (
            <div class="flex items-center text-muted">
              <FaRegFolder className="mr-2 flex-shrink-0" />
              <div class="flex flex-wrap gap-2">
                {categories.map((category: string) => (
                  <a
                    href={`/categories/${slugify(category)}`}
                    class="hover:text-gray-500"
                  >
                    {humanize(category)}
                  </a>
                ))}
              </div>
            </div>
          )
        }
      </div>

      <div
        class="md:col-span-1 border-t pl-2 md:pl-6
        border-border dark:border-darkmode-border"
      >
        <p class="text-text dark:text-darkmode-text line-clamp-3 mb-4 mt-2">
          {plainify(data.body?.slice(0, Number(summary_length)))}
        </p>
      </div>
    </div>

    <div class="space-y-4">
      <a
        class="btn btn-outline-primary w-auto"
        href={`/${blog_folder}/${data.id}`}
      >
        Read More
      </a>
    </div>
  </div>
</article>
