---
import ImageMod from "@/components/ImageMod.astro";

// Props for dynamic data
const {
  title = "GRAND CANYON",
  subtitle = "Angels Triumph Hike",
  user = "Rover Barkton",
  date = "July 2023",
  backgroundImage = "/images/your-image.jpg",
  profileImage = "/images/profile-image.jpg",
  href = "",
  linkLabel = "Check It Out!",
} = Astro.props;
---

<div class="card card-project
border-4 group">
  <!-- Profile Image and User Info on Top Left -->
  <div
    class="flex justify-center items-center flex-col mt-12 mb-10
  group-hover:scale-105 transition-all duration-1000 ease-in-out"
  >
    <div class="relative">
      <ImageMod
        class="rounded-full object-cover w-[4rem] h-[4rem] drop-shadow-lg\
        outline-inherit bg-black/80 outline outline-2 outline-offset-2 size-14"
        src={profileImage}
        width={150}
        height={250}
        alt={title}
        format="webp"
      />
      <div
        class="absolute bottom-0 -right-2 px-2 pb-0.5 rounded-full
      bg-black/80 text-darkmode-primary
      dark:bg-border dark:text-primary
      font-extrabold
      overflow-hidden"
      >
        +
      </div>
    </div>
    <p class="text-sm mt-4 font-tertiary font-normal">{user}</p>
    <p class="text-xs font-tertiary font-normal">{date}</p>
  </div>

  <!-- Title and Subtitle -->
  <div class="-mb-12 text-center z-10">
    <h1 class="h2 font-extrabold font-quarternary">{title}</h1>
    <h2 class="h6 font-normal mb-4 font-quarternary">{subtitle}</h2>
  </div>

  <!-- Background Image Section (with Gradient Overlay) -->
  <div class="relative">
    <ImageMod
      src={backgroundImage}
      width={450}
      height={450}
      alt="Background"
      format="webp"
      class="w-full h-auto object-cover"
    />
    <!-- Gradient Overlay -->
    <div
      class="absolute inset-0
      bg-gradient-to-b from-white/100 dark:from-darkmode-body/100 to-transparent h-[10rem]"
    >
    </div>
  </div>
  <!-- Hover Button! -->
  <div class="absolute right-8 card-button font-tertiary">
    <a class="" href={href} title={title}>{linkLabel} </a>
  </div>
</div>
