---
import ProjectCard from "@/components/ProjectCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const PROJECT_FOLDER = "project";

const { slug } = Astro.params;
const projectIndex = (await getEntry(
  PROJECT_FOLDER,
  "-index",
)) as CollectionEntry<"project">;
const projects = await getSinglePage(PROJECT_FOLDER);
const sortedProjects = sortByDate(projects);
const totalPages = Math.ceil(projects.length / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastProject = currentPage * config.settings.pagination;
const indexOfFirstProject = indexOfLastProject - config.settings.pagination;
const currentProjects = sortedProjects.slice(
  indexOfFirstProject,
  indexOfLastProject,
);

export async function getStaticPaths() {
  const PROJECT_FOLDER = "project";
  const projects = await getSinglePage(PROJECT_FOLDER);
  const totalPages = Math.ceil(projects.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
---

<Base
  title={projectIndex.data.title}
  meta_title={projectIndex.data.meta_title}
  image={projectIndex.data.image}
  description={projectIndex.data.description}
>
  <PageHeader title={projectIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row">
        <!-- projects -->
        <div class="lg:col-12">
          <div class="row">
            {
              currentProjects.map((project) => (
                <div class="mb-14 md:col-6">
                  <ProjectCard data={project} />
                </div>
              ))
            }
          </div>
          <Pagination
            section={PROJECT_FOLDER}
            currentPage={currentPage}
            totalPages={totalPages}
          />
        </div>
      </div>
    </div>
  </section>
</Base>
