---
import ImageMod from "@/components/ImageMod.astro";
import Location from "@/layouts/shortcodes/Location";
import Languages from "@/layouts/shortcodes/Languages";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";
import Social from "@/components/Social.astro";
import social from "@/config/social.json";

const about = (await getEntry("about", "-index")) as CollectionEntry<"about">;
const { Content } = await render(about);
const { title, subtitle, description, meta_title, image } = about.data;

const location = "Jakarta, Indonesia";
const languages = ["SQL", "Python", "Git", "Looker", "Tableau"];
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <!-- Use grid to divide the profile and content into two columns -->
  <section class="container mx-auto grid grid-cols-1 lg:grid-cols-12 gap-6">
    <!-- Profile Section Container -->
    <div class="lg:col-span-5 lg:mb-6">
      <!-- Wrap the profile content in a sticky container -->
      <div
        class="flex flex-col items-center space-y-4 mt-10 mb-0 lg:sticky lg:top-32"
      >
        {
          image && (
            <div
              class="relative mb-2 rounded-full w-[150px] h-[150px] lg:w-[200px] lg:h-[200px] overflow-hidden
                outline-inherit bg-black/80 outline outline-4 outline-offset-4 size-28"
            >
              <ImageMod
                class="object-cover w-full h-full"
                src={image}
                width={250}
                height={250}
                alt={title}
                format="webp"
              />
            </div>
          )
        }
        <div class="flex flex-col items-center space-y-2 lg:mb-8">
          <Location location={location} />
          <Languages languages={languages} />
        </div>
      </div>
    </div>

    <!-- Content Section Container -->
    <div class="lg:col-span-7 lg:mt-8 mb-10">
      <h1 set:html={markdownify(title)} />
      <h2
        set:html={markdownify(subtitle)}
        class="mb-4
        text-gray-400 dark:text-gray-400 text-3xl
        font-primary font-thin"
      />
      <div
        class="content pl-6
            border-border dark:border-darkmode-border"
      >
        <Content />
      </div>
    </div>
  </section>
</Base>
