---
import Share from "@/components/Share.astro";
import { render } from "astro:content";
import ProjectCard from "@/components/ProjectCard.astro";

// Define prop types
interface Metadata {
  hours?: string;
  type?: string;
  size?: string;
}

interface Author {
  name: string;
  avatar: string;
}

export interface ProjectData {
  title: string;
  subtitle?: string;
  image?: string;
  date?: Date;
  description?: string;
  author?: Author;
  company: string | "Company";
  metadata?: Metadata;
  status?: string;
  skills: string[];
  colors?: {
    text: string;
    background: string;
  };
  draft?: boolean;
}
const { project } = Astro.props;

const {
  title,
  subtitle,
  image,
  date,
  description,
  author,
  company,
  metadata,
  status,
  skills,
  colors,
  draft,
} = project.data as ProjectData;

const { Content } = await render(project);
---

<article
  class="container gap-14 pb-14 grid grid-cols-1 lg:grid-cols-[1fr_2fr] xl:col-10"
  title={`${title}`}
>
  <ProjectCard data={project} asHeader={true} />

  <div>
    <div
      class="content
      mt-0 lg:mt-8 mb-10 pl-5
      lg:border-l-2
      border-border dark:border-darkmode-border"
    >
      <Content />
    </div>

    <div class="row items-start justify">
      <div class="flex items-center lg:col-12">
        <h5 class="mr-3">Share :</h5>
        <Share
          className="social-icons"
          title={title}
          description={description}
          collection={project.collection}
          slug={project.id}
        />
      </div>
    </div>
  </div>
</article>
